{% extends "master.html" %}

{% block content %}

<div class="col-xs-10" id="content">
    <h2>Unicode Text Rendering Reference System</h2>
	<p>
		Unicode Text Rendering Reference System (UTRRS) is a open source web-based application to compare a rendered text character, rendered by a text rendering engine with reference image of a text character. Differences between the rendered image and reference image may be compared for the subsequent analysis.   
	</p>
	<p>
		Performance of a text rendering engine producing text according to typographical rules applicable to a natural language can be evaluated by one with no knowledge or ability to read the natural language. This Application Test for the Codepoints (Unicode Character set), GSUB(Glyph substitution) and GPOS (Glyph Positioning). 
	</p>
	<p>
		For the Indian Language present here, this system has been developed according to the IDN Script Grammar rules published by Govt. of India.
	</p>
	Languages Included :
	<ol>
		<li>Assamese</li>
		<li>Bengali (India)</li>
		<li>Gujarati</li>
		<li>Hindi</li>
		<li>Kannada</li>
		<li>Malayalam</li>
		<li>Marathi</li>
		<li>Odia</li>
		<li>Punjabi</li>
		<li>Tamil</li>
		<li>Telugu</li>
	</ol>
	<p>
		UTRRS Tool has been developed by Red Hat Language Technology Group. It is vastly used in various internal projects, localization support, Desktop Rendering, etc.  in Red Hat.
	</p>
	<p>
		UTRRS has been released by Red Hat, under open source MIT license in the year of 2010.
	</p>
	Usage :
	<ol>
		<li>UTRRS provides the service to validate the standard shape (Rendering) of character set (Unicode 5.1 Standard) or composed characters (Syllable) produced in any system.</li>
		<li>This application can be used anywhere as a character archives for any Indian languages mentioned above, so far.</li>
		<li>UTRRS has been designed to facilitate the multilingual community users, print media, font developers & vendors, localized desktop providers, tourism industry, academic organizations and communities etc. in terms of providing them a standard ready reference for Indian languages.</li>
	</ol>
	<hr>
</div>

{% endblock %}