{% extends "master.html" %}
{% load static %}

{% block content %}

<div class="col-sm-8 text-left" id="content">

	<div class="container-fluid">
		<ul class="nav nav-tabs sub_links_sub">
  			<li class="codepoint"><a href="/german/codepoint">Codepoint</a></li>
  			<li class="active"><a href="/german/gsub">GSUB</a></li>
  			<li class="gpos"><a href="/german/gpos">GPOS</a></li>
		</ul>
    	<h2>German</h2>
		German is a West Germanic language that derives most of its vocabulary from the Germanic branch of the Indo-European language family.<br>
		<small><i>More information - wikipedia: <a href=http://en.wikipedia.org/wiki/Hindi>http://en.wikipedia.org/wiki/Hindi</a></i></small>&nbsp<i class="fa fa-external-link" aria-hidden="true"></i><br><br>
		<b>Unicode-Range: </b>
		U+0041 - U+0075, U+0042 - U+007A, U+00C4 - U+00DF <br><br>
		<b>Unicode Chart: </b>
		<a href="http://www.utf8-chartable.de/">http://www.utf8-chartable.de/</a>&nbsp<i class="fa fa-external-link" aria-hidden="true"></i><br><br>
		<b>Font: </b>
		Lohit <small><i>- used for generating reference images</i></small> <br><br>
		<b>Rendering Engine: </b>
		Pango <small><i>- used for generating reference images</i></small> <br><br><br>
	</div>

	<div class="container-fluid">
	  <table class="table table-bordered datatable">
	    <thead class="table-head">
	      <tr>
	        <th>No</th>
	        <th>Code Point</th>
	        <th>Reference</th>
	        <th>Character</th>
			<th>Text</th>
			<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for x in data_gsub %}
	      <tr class="table-row">
	        <td>{{ forloop.counter }}</td>
			<td><label>{{ x.0 }}</label></td>
			<td><img height="40px" src="{% static 'lang/de_DE/font/' %}{{ x.1 }}"></td>
			<td><label id="codepoint_label">  {{ x.2 }}</label></td>
			<td><input id="codepoint_input" type="text" value={{x.2}} size=3 title="Text"></td>
			<td><label> {{x.3}}</label></td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>

</div>

{% endblock %}