{% extends "master.html" %}
{% load static %}

{% block content %}

<div class="col-xs-10" id="content">

	<div class="container-fluid">
		<ul class="nav nav-tabs">
  			<li><a href="/hindi/codepoint">Codepoint</a></li>
  			<li><a href="/hindi/gsub">GSUB</a></li>
  			<li class="active"><a href="/hindi/gpos">GPOS</a></li>
		</ul>
    	<h2>Hindi</h2>
		Hindi is the name given to an Indo-Aryan language, or a dialect 	continuum of languages, spoken in northern and central India (the Hindi belt)<br>
		<small><i>More information - wikipedia: <a href=http://en.wikipedia.org/wiki/Hindi>http://en.wikipedia.org/wiki/Hindi</a></i></small> <br><br>
		<b>Unicode-Range: </b>
		U+0900 – U+097F <br><br>
		<b>Unicode Chart: </b>
		<a href="http://www.unicode.org/charts/PDF/U0900.pdf">http://www.unicode.org/charts/PDF/U0900.pdf</a> <br><br>
		<b>Font: </b>
		Lohit <small><i>- used for generating reference images</i></small> <br><br>
		<b>Rendering Engine: </b>
		Pango <small><i>- used for generating reference images</i></small> <br><br><br>
	</div>

	<div class="container-fluid">
	  <table class="table table-bordered datatable">
	    <thead class="table-head">
	      <tr>
	        <th>No</th>
	        <th>Code Point</th>
	        <th>Reference</th>
	        <th>Character</th>
			<th>Text</th>
			<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for x in data_gpos %}
	      <tr class="table-row">
	        <td>{{ forloop.counter }}</td>
			<td><label>{{ x.0 }}</label></td>
			<td><img height="40px" src="{% static 'lang/hi_IN/font/' %}{{ x.1 }}"></td>
			<td><label id="codepoint_label">  {{ x.2 }}</label></td>
			<td><input id="codepoint_input" type="text" value={{x.2}} size=3 title="Text"></td>
			<td><label> {{x.3}}</label></td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>

</div>

{% endblock %}