{% extends "master.html" %}

{% block content %}

<div class="col-xs-10" id="content">
    <h2>History of This Project:</h2>
	<ol>
        <li>This Project had been commenced in September 2006 Under Red Hat Supervision.</li>
        <li>Primarily only 5 Indic Locales had been selected to proceed with.</li>
        <li>First development started with Codepoints of 5 Major Locales.</li>
        <li>Glyph Substitution(GSUB) and Glyph Positioning(GPOS) had been included in the subsequent development phases.</li>
        <li>8 more Indic Languages had been covered under this project gradually.</li>
        <li>The task of showcasing total set of 13 Indic Locales with set of Codepoints, GSUB and GPOS presented for the first time within an year, July 2007.</li>
        <li>The huge database of Reference Images, had been programmatically cropped and given an unique name with its unicode value or combinations of unicode values.</li>
    </ol>
	<br/>
</div>

{% endblock %}
