{% extends "master.html" %}
{% load static %}

{% block navitem %}
<a href="" id="submit" method="POST" data-toggle="modal" data-target="#modal-transparent"><i class="glyphicon glyphicon-duplicate"></i>&nbsp&nbspCompare</a>{% csrf_token %}
{% endblock %}

{% block style %}
<style>
.modal7 {
    display:    none;
    position:   fixed;
    z-index:    1051;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/static/images/loading6.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal7 {
    display: block;
}
</style>
{% endblock %}

{% block content %}

<div class="col-sm-8 text-left" id="content">

	<div class="container-fluid">
		<ul class="nav nav-tabs sub_links">
  			<li><a href="/malayalam/codepoint">Codepoint</a></li>
  			<li><a href="/malayalam/gsub">GSUB</a></li>
  			<li><a href="/malayalam/gpos">GPOS</a></li>
		</ul>
    	<h2>Malayalam</h2>
		Malayalam is a language spoken in India predominantly in the state of Kerala.<br>
		<small><i>More information - wikipedia: <a href="https://en.wikipedia.org/wiki/Malayalam"  target="_blank">https://en.wikipedia.org/wiki/Malayalam</a></i></small>&nbsp<i class="fa fa-external-link" aria-hidden="true"></i><br><br>
		<b>Unicode-Range: </b>
		U+0D00 – U+0D7F <br><br>
		<b>Unicode Chart: </b>
		<a href="http://www.unicode.org/charts/PDF/U0D00.pdf"  target="_blank">http://www.unicode.org/charts/PDF/U0D00.pdf</a>&nbsp<i class="fa fa-external-link" aria-hidden="true"></i><br><br>
		<b>Font: </b>
		Lohit <small><i>- used for generating reference images</i></small> <br><br>
		<b>Rendering Engine: </b>
		Pango <small><i>- used for generating reference images</i></small> <br><br><br>
	</div>

	<div class="container-fluid">
	  <table class="table table-bordered datatable">
	    <thead class="table-head">
	      <tr>
	        <th>No</th>
	        <th>Code Point</th>
	        <th>Reference</th>
	        <th>Character</th>
			<th>Text</th>
			<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for x in data_code %}
	      <tr class="table-row">
	        <td>{{ forloop.counter }}</td>
			<td><label>{{ x.0 }}</label></td>
			<td><img height="35px" src="{% static 'lang/ml_IN/font/' %}{{ x.1 }}"></td>
			<td><label id="codepoint_label">  {{ x.2 }}</label></td>
			<td><input id="codepoint_input" type="text" value={{x.2}} size=3 title="Text"></td>
			<td><label> {{x.3}}</label></td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>

</div>

<script>
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}

$("#submit").click(function(e) {
e.preventDefault();
$body = $("body");
$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
    ajaxStop: function() { $body.removeClass("loading"); }    
});
var csrftoken = getCookie('csrftoken');
$.ajax({
         url : window.location.href,
         type : "POST",
         data : { csrfmiddlewaretoken : csrftoken,
 },
success : function(json) {
    console.log(json);

    for (var i = 0; i < json['data_code'].length; i++) {
        document.getElementById("compare_result" + (i+1)).innerHTML = json['data_code'][i][4];
    }
},
error : function(xhr,errmsg,err) {
    console.log(xhr.status + ": " + xhr.responseText);
}
});
});
</script>


<!-- Modal transparent -->
<div class="modal7"></div>

<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Compare In</h4>
            </div>
            <div class="modal-body">
                <a class="btn btn-primary" href="" data-toggle="modal" data-target="#modal-transparent_two">Browser</a>
                <a href="/malayalam/report.pdf" target="_blank" class="btn btn-primary btn-download" id="download" >Download PDF</a>
                <a href="/malayalam/report.csv" class="btn btn-primary">Libre Office</a>
                <a href="/malayalam/report.txt" class="btn btn-primary">gedit</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-transparent fade" id="modal-transparent_two" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Compared in Browser</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered res_table">
                <thead class="table-head">
                  <tr>
                    <th>No</th>
                    <th>Code Point</th>
                    <th>Reference</th>
                    <th>Character</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in data_code %}
                  <tr id="myTr" class="table-row">
                    <td>{{ forloop.counter }}</td>
                    <td><label>{{ x.0 }}</label></td>
                    <td><img height="35px" src="{% static 'lang/ml_IN/font/' %}{{ x.1 }}"></td>
                    <td><label id="codepoint_label">  {{ x.2 }}</label></td>
                    {% with y=forloop.counter|stringformat:"s" %}
                    {% with temp="compare_result"|add:y %}
                    <td><label id={{temp}}></label></td>
                    {% endwith %}
                    {% endwith %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}