{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Unicode Text Rendering Reference System</title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'bootstrap/css/mystyle.css' %}"/>
</head>
<body>

<!-- Header -->
<div class="container-fluid" id="header">
    <div class="row">
        <div class="logo">
            <a href="/"><img height="100px" src="{% static 'images/logo1.png' %}"></a>
        </div>

        <div class="col-xs-6" id="brand">
            <span >Unicode Text Rendering Reference System</span>
        </div>

        <div class="col-xs-6" style="margin-left:30px">
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li class="tray"><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp&nbspHome
                    </a></li>
                    <li class="tray"><a href="/about"><i
                            class="glyphicon glyphicon-question-sign"></i>&nbsp&nbspAbout</a>
                    </li>
                    <li class="tray"><a href="#checkfont"><i
                            class="glyphicon glyphicon-check"></i>&nbsp&nbspCheck
                        Font</a></li>
                    <li class="tray"><a href="/hindi"><i
                            class="glyphicon glyphicon-search"></i>&nbsp&nbspSearch</a>
                    </li>
                    <li class="tray"><a href="#feedback"><i
                            class="glyphicon glyphicon-pencil"></i>&nbsp&nbspFeedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Body -->
<div class="container-fluid"
     id="body">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-xs-1" id="sidebar">
            <ul>
                <span class="navbar-brand">LANGUAGES</span>
                <button type="button"
                        class="btn btn-default btn-block button1"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Assamese
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Bengali
                </button>
                <button type="button"
                        class="btn btn-default btn-block button3"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    German
                </button>
                <button type="button"
                        class="btn btn-default btn-block button4"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Gujarati
                </button>
                <button type="button"
                        class="btn btn-default btn-block button5"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Hindi
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Kannada
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Maithili
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Malayalam
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Marathi
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Odia
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Punjabi
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Tamil
                </button>
                <button type="button"
                        class="btn btn-default btn-block button2"><i
                        class="glyphicon glyphicon-tags"></i>&nbsp&nbsp
                    Telugu
                </button>
            </ul>
        </div>

        <!-- Content -->
        {% block content %}{% endblock %}

    </div>
</div>


<!-- Footer -->
<div class="container-fluid" id="footer">

    <div class="row" id="links">
    	<div class="col-md-3"><a href="/history"><i class="glyphicon glyphicon-hourglass"></i>&nbsp&nbspHistory</a></div>
  		<div class="col-md-3"><a href="/roadmap"><i class="glyphicon 
  		glyphicon-road"></i>&nbsp&nbspRoadMaps</a></div>
  		<div class="col-md-3"><a href="https://fedorahosted.org/fuel/" target="_blank"><i class="glyphicon glyphicon-wrench"></i>&nbsp&nbspDevelopment</a></div>
  		<div class="col-md-3"><a href="#"><i class="glyphicon glyphicon-envelope"></i>&nbsp&nbspContactUs</a></div>
	</div>

    <div id="footer_content">
        © 2007-2013 Red Hat, Inc. and others. For comments or queries, please
        contact us.<br/>

        The Unicode Text Rendering Reference System Project is maintained and
        driven by FUEL Project community and
        sponsored by Red Hat. This is a community maintained site. Red Hat is
        not responsible for content. <br/>
    </div>
</div>
</body>
</html>