{% extends "master.html" %}

{% block content %}

<div class="col-xs-10" id="content">
    <h2>Future Road map:</h2>
	<ol>
        <li>Enhancement of Test Coverage by adding more sequences from Corpus.</li>
        <li>Unicode 6.x Compatibility to be provided soon.</li>
        <li>Apply the Digitized Script Grammar on rest of the Languages, currently exist in UTRRS System.</li>
        <li>Implement the 3-Tier Architecture support for UTRRS with proper business logic layer in place.</li>
        <li>Enhancement of Language Coverage for rest of the Indic Languages and other complex script support.</li>
        <li>Implement the Advance Search option with optimum sorting feature in place.</li>
        <li>Implement the Run-time Font Change option to provide the users more flexibility in using test cases across different fonts.</li>
        <li>Implement the validation of text(line/word) rendering with the dynamic reference image generation from database for input text.</li>
        <li>To add the Language Community Feedback (Users and Testers) with valid Authorization Criteria in place.</li>
        <li>Generation of custom images on User System for better Feedback.</li>
    </ol>
	<br/>
</div>

{% endblock %}