{% extends "master.html" %}

{% block content %}

<div class="col-xs-10" id="content">
<h2 class="title">Check Font</h2>

<p>If you want to check that the following fonts is installed in your system or not run the below commands according to the locales:</p><br>
<strong>Assamese:</strong>
<p>The locale code for Assamese is <strong>as</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=as
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Assamese.ttf: &quot;Lohit Assamese&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Bengali:</strong>
<p>The locale code for Bengali is <strong>bn</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=bn
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Bengali.ttf: &quot;Lohit Bengali&quot; &quot;Regular&quot;
</pre>
<br>
<strong>German:</strong>
<p>The locale code for German is <strong>ge</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=ge
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
DejaVuSans.ttf: &quot;DejaVu Sans&quot; &quot;Book&quot;
</pre>
<br>
<strong>Gujarati:</strong>
<p>The locale code for Gujarati is <strong>gu</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=gu
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Gujarati.ttf: &quot;Lohit Gujarati&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Hindi:</strong>
<p>The locale code for Hindi is <strong>hi</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=hi
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Devanagari.ttf: &quot;Lohit Devanagari&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Kannada:</strong>
<p>The locale code for Kannada is <strong>kn</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=kn
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Kannada.ttf: &quot;Lohit Kannada&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Maithili:</strong>
<p>The locale code for Maithili is <strong>mai</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=mai
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Devanagari.ttf: &quot;Lohit Devanagari&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Malayalam:</strong>
<p>The locale code for Malayalam is <strong>ml</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=ml
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Meera.ttf: &quot;Meera&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Marathi:</strong>
<p>The locale code for Marathi is <strong>mr</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=mr
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Devanagari.ttf: &quot;Lohit Devanagari&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Odia:</strong>
<p>The locale code for Odia is <strong>or</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=or
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Odia.ttf: &quot;Lohit Odia&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Punjabi:</strong>
<p>The locale code for Punjabi is <strong>pa</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=pa
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Gurmukhi.ttf: &quot;Lohit Gurmukhi&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Tamil:</strong>
<p>The locale code for Tamil is <strong>ta</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=ta
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Tamil.ttf: &quot;Lohit Tamil&quot; &quot;Regular&quot;
</pre>
<br>
<strong>Telugu:</strong>
<p>The locale code for Telugu is <strong>te</strong></p>
<pre class="literal-block">
fc-match sans-serif:lang=te
</pre>
<p>Your <strong>Output</strong> should be like</p>
<pre class="literal-block">
Lohit-Telugu.ttf: &quot;Lohit Telugu&quot; &quot;Regular&quot;
</pre>
<br>
<p><strong>NOTE :- These commands will work in Linux Operating System.</strong></p>
<br>
</div>

{% endblock %}
