{% extends "master.html" %}
{% load static %}

{% block navitem %}
<a href="" data-toggle="modal" data-target="#modal-transparent"><i class="glyphicon glyphicon-duplicate"></i>&nbsp&nbspCompare</a>
{% endblock %}

{% block content %}

<div class="col-xs-10" id="content">

    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a href="/assamese/codepoint">Codepoint</a></li>
            <li><a href="/assamese/gsub">GSUB</a></li>
            <li><a href="/assamese/gpos">GPOS</a></li>
        </ul>
        <h2>Assamese</h2>
        Assamese is the easternmost Indo-Aryan language. It is used mainly in the state of Assam in North-East India. It is the official language of Assam.<br>
        <small><i>More information - wikipedia: <a href=https://en.wikipedia.org/wiki/Assamese_language>https://en.wikipedia.org/wiki/Assamese_language</a></i></small> <br><br>
        <b>Unicode-Range: </b>
        U+0980 - U+09FF <br><br>
        <b>Unicode Chart: </b>
        <a href="http://www.unicode.org/charts/PDF/U0980.pdf">http://www.unicode.org/charts/PDF/U0980.pdf</a> <br><br>
        <b>Font: </b>
        Lohit <small><i>- used for generating reference images</i></small> <br><br>
        <b>Rendering Engine: </b>
        Pango <small><i>- used for generating reference images</i></small> <br><br><br>
    </div>

    <div class="container-fluid">
      <table class="table table-bordered datatable">
        <thead class="table-head">
          <tr>
            <th>No</th>
            <th>Code Point</th>
            <th>Reference</th>
            <th>Character</th>
            <th>Text</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for x in data_code %}
          <tr class="table-row">
            <td>{{ forloop.counter }}</td>
            <td><label>{{ x.0 }}</label></td>
            <td><img height="40px" src="{% static 'lang/as_IN/font/' %}{{ x.1 }}"></td>
            <td><label id="codepoint_label">  {{ x.2 }}</label></td>
            <td><input id="codepoint_input" type="text" value={{x.2}} size=3 title="Text"></td>
            <td><label> {{x.3}}</label></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>

<!-- Modal transparent -->
<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Compare In</h4>
            </div>
            <div class="modal-body">
                <a class="btn btn-primary" href="" data-dismiss="modal" data-toggle="modal" data-target="#modal-transparent_two">Browser</a>
                <button class="btn btn-primary">Libre Office</button>
                <button class="btn btn-primary">gedit</button>
                <a class="btn btn-primary" href="" onclick="move()"data-dismiss="modal" data-toggle="modal" data-target="#modal-transparent_three">Progress Bar</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-transparent fade" id="modal-transparent_two" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Compared in Browser</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered datatable">
        <thead class="table-head">
          <tr>
            <th>No</th>
            <th>Code Point</th>
            <th>Reference</th>
            <th>Character</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          {% for x in data_code %}
          <tr class="table-row">
            <td>{{ forloop.counter }}</td>
            <td><label>{{ x.0 }}</label></td>
            <td><img height="40px" src="{% static 'lang/as_IN/font/' %}{{ x.1 }}"></td>
            <td><label id="codepoint_label">  {{ x.2 }}</label></td>
            <td><label> {{x.4}}</label></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-transparent fade" id="modal-transparent_three" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
               <div class="progress skill-bar ">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="modal-body">

                

                <!--Different-->
                <div id="myProgress" style="position: relative;width: 100%;height: 30px;background-color: #ddd;">
                    <div id="myBar" style="position: absolute;width: 0%;height: 100%;background-color: #4CAF50;">
                        <div id="label" style="text-align: center;line-height: 30px;color: white;">0%</div>
                    </div>
                </div>

                <br>
                <button onclick="move()">Click Me</button>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 10;
  var id = setInterval(frame, 200);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      document.getElementById("label").innerHTML = width * 1  + '%';
    }
  }
}
</script>

{% endblock %}