<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title> [% title %] </title>
</head>
<body>
<h3><center> [% title %] </center></h3>
<hr>
<center>
<a href=../../bn_IN/font/IndicFontTestCaseCodepoint-Assamese.html>assamese(as_IN)</a>
<a href=../../bn_IN/font/IndicFontTestCaseCodepoint-Bengali.html>bengali(bn_IN)</a>
<a href=../../gu_IN/font/IndicFontTestCaseCodepoint-Gujarati.html>gujarati(gu_IN)</a>
<a href=IndicFontTestCaseCodepoint-Hindi.html>hindi(hi_IN)</a>
<a href=../../mr_IN/font/IndicFontTestCaseCodepoint-Marathi.html>marathi(mr_IN)</a>
<a href=../../pa_IN/font/IndicFontTestCaseCodepoint-Punjabi.html>punjabi(pa_IN)</a>
<a href=../../ta_IN/font/IndicFontTestCaseCodepoint-Tamil.html>tamil(ta_IN)</a>
<br>
<a href=../../kn_IN/font/IndicFontTestCaseCodepoint-Kannada.html>kannada(kn_IN)</a>
<a href=../../ml_IN/font/IndicFontTestCaseCodepoint-Malayalam.html>malayalam(ml_IN)</a>
<a href=../../or_IN/font/IndicFontTestCaseCodepoint-Oriya.html>oriya(or_IN)</a>
<a href=../../te_IN/font/IndicFontTestCaseCodepoint-Telugu.html>telugu(te_IN)</a>
<a href=../../ur_IN/font/IndicFontTestCaseCodepoint-Urdu.html>urdu(ur_IN)</a>
<a href=../../si_LK/font/IndicFontTestCaseCodepoint-Sinhala.html>sinhala(si_LK)</a>
</center>
<hr>
<center>
  <a href=IndicFontTestCaseCodepoint-Hindi.html>| Codepoint |</a>
  <a href=IndicFontTestCaseGSUB-Hindi.html>| GSUB |</a>
  <a href=IndicFontTestCaseGPOS-Hindi.html>| GPOS |</a>
</center>
