{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Unicode Text Rendering Reference System</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block header %}{% endblock %}
</head>
<body>
	
	<!-- Header -->
	<div class="container-fluid" style="background-color:#EAFFFF;border-top:10px solid #337ACC;">
		<div class="row">
  			<div class="col-xs-1" style="margin-top:10px;margin-left:20px">
  				<a href="#"><img height="100px" src="{% static 'images/logo.png' %}"></a>
  			</div>

  			<div class="col-xs-6">
  				<a class="navbar-brand" href="#" style="margin-top:10px;">Unicode Text Rendering Reference System</a>
  			</div>
  			<div class="col-xs-6">
  				<div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav">
           				<li class="active"><a href="#">Home</a></li>
            			<li><a href="#about">About</a></li>
            			<li><a href="#feedback">Feedback</a></li>
          			</ul>
        	    </div>
  			</div>
		</div>
	</div>

	<!-- Body -->
    <div class="container" style="margin-top:20px;margin-bottom:20px">
    	<div>
        	<h2>Unicode Text Rendering Reference System</h2>
        	<p>A system to compare a reference image of a text character, word or phrase with another image of the character, word or phrase that was rendered by a text rendering engine. Differences between the reference image and the rendered image may be recorded for subsequent analysis. Performance of a text rendering engine producing text according to typographical rules applicable to a natural language can be evaluated by one with no knowledge or ability to read the natural language.
        	</p>
        	<p>This Application Test for the Codepoints (Unicode Character set), GSUB and GPOS (Composed characters, that built with the combination of more than two codepoints in Indic Scripts).
			</p>
			<p>For latest information about the project, please do visit the <a href="https://fedorahosted.org/fuel/wiki/UTRRS">trac</a> page.</p>
			<br/>
      	</div>
    </div>


    <!-- Footer -->
    <div class="container-fluid" style="background-color:#EAFFFF;border-bottom:10px solid #337ACC;">
		<div style="text-align:center;margin-bottom:30px;margin-top:10px">
			© 2007-2013 Red Hat, Inc. and others. For comments or queries, please contact us.<br/>

			The Unicode Text Rendering Reference System Project is maintained and driven by FUEL Project community and sponsored by Red Hat. This is a community maintained site. Red Hat is not responsible for content. <br/>
		</div>
	</div>
  </body>
</html>